body{
  background: darkblue;
  text-align: center;
}
img{
  width: 40%;
}
.card{
  background: darkgreen;
  width=20;
  border-radius: 2em;
}
#card{
  justify-content: space-around;
  display:flex;
  margin:2%;
}

.card:hover{
  box-shadow: 0 20px 20px  red;
}
@media only screen and (min-device-width:350px) and
  (min-device-width:460px){
    .card{
      width: 100%;
}
}
